name: Publish Web Client

on:
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to publish from
        required: true
        type: string
        default: main
      tag:
        description: Tag to publish with
        required: true
        type: string
        default: latest
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
        default: main
      tag:
        required: true
        type: string
        default: latest
      docker_username:
        required: true
        type: string
      docker_password:
        required: true
        type: string

env:
  DOCKER_USERNAME: ${{ inputs.docker_username || secrets.DOCKER_USERNAME }}
  DOCKER_ACCESS_TOKEN: ${{ inputs.docker_password || secrets.DOCKER_ACCESS_TOKEN }}

jobs:
  publish_for_platforms:
    strategy:
      matrix:
        include:
          - name: Publish for amd64
            runner: ubuntu-24.04
            platform: linux/amd64
            tag: amd64
          - name: Publish for arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
            tag: arm64

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}

      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_ACCESS_TOKEN}}

      - name: Build and push docker image
        run: docker build --push --platform ${{ matrix.platform }} -t ${{ env.DOCKER_USERNAME }}/ffxivvenues.web:${{ inputs.tag }}-${{matrix.tag}} ./

  publish_multiplatform_manifest:
    name: Publish multiplatform manifest
    needs: publish_for_platforms
    runs-on: ubuntu-latest
    steps:
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_ACCESS_TOKEN}}

      - name: Create and push manifest
        run: |
          docker buildx imagetools create -t ${{ env.DOCKER_USERNAME }}/ffxivvenues.web:${{ inputs.tag }} \
            ${{ env.DOCKER_USERNAME }}/ffxivvenues.web:${{ inputs.tag }}-amd64 \
            ${{ env.DOCKER_USERNAME }}/ffxivvenues.web:${{ inputs.tag }}-arm64