name: Test Deployment

on:
  push:
    branches:
      - test

jobs:
  publish_for_platforms:
    strategy:
      matrix:
        include:
          - name: Publish for amd64
            runner: ubuntu-24.04
            platform: linux/amd64
            tag: amd64
          - name: Publish for arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
            tag: arm64

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN}}

      - name: Build and push docker image
        run: docker build --push --platform ${{ matrix.platform }} -t ${{ secrets.DOCKER_USERNAME }}/ffxivvenues.web:test-${{matrix.tag}} ./

  publish_multiplatform_manifest:
    name: Publish multiplatform manifest
    needs: publish_for_platforms
    runs-on: ubuntu-latest
    steps:
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN}}

      - name: Create and push manifest
        run: |
          docker buildx imagetools create -t ${{ secrets.DOCKER_USERNAME }}/ffxivvenues.web:test \
            ${{ secrets.DOCKER_USERNAME }}/ffxivvenues.web:test-amd64 \
            ${{ secrets.DOCKER_USERNAME }}/ffxivvenues.web:test-arm64
